%nav.navbar
  .container.margin-top
    .logo= link_to "minuit", root_path, data: { keybinding: 'x' }

.col-md-6.col-md-offset-3.font-about
  %h2 Hi there!
  %br
  %p I'm a 23 year old guy from Lucerne, Switzerland.
  %p For creating this site I used the Ruby on Rails framework.
  %p Since I don't have any professional background in webdesign and solely built this application out of interest, it probably is full of stupid code and cringeworthy workarounds. (Yeah I had some problems)
  %p If you nonetheless like what you see - or hate it and want to punch me in the face - aaaand you want to reach out to me, you can do this on here: #
  %h6 (Of course you can also just leave a comment at any post and I'll probably see it.)
  %p If you want to have a look at the code you can do this on here: # (Just remember, this is me: #)
  %p Tips on improvement are always welcome, so let me know if you happen to have any.
  %h6 (For example how to get this &*@#! turbolinks to work!)
  %br
  %p Thanks for visiting!
  %br
  %p Chris
  %br
  %br
  #homebutton
    = link_to root_path do
      %span.glyphicon.glyphicon-home
  %br
  %br
  %br
  
