%nav.navbar
  .container.margin-top
    .logo= link_to "hiatus", root_path, data: { keybinding: 'x' }

.col-md-6.col-md-offset-3.font-about
  %h2 Hi there!
  %br
  %p I am a 24 year old guy from Lucerne, Switzerland.
  %p For creating this site I used the Ruby on Rails framework.
  %p I don't have any professional background in webdesign, which is why this website still has a ton of bugs.
  %p If you nonetheless like what you see - or hate it and want to punch me in the face - aaaand you want to reach out to me, you can do this via this mail: 
  %h2 christian.schuerch@hotmail.com
  %h6 (Of course you can also just leave a comment at any post and I'll probably see it.)
  %br
  %p Tips on improvement are always welcome, so let me know if you happen to have any.
  %br
  %p Thanks for visiting!
  %br
  %p Chris
  %br
  %br
  #homebutton
    = link_to root_path do
      %span.glyphicon.glyphicon-home
  %br
  %br
  %br
  
