%nav.navbar
  .container.margin-top
    .logo= link_to "minuit", root_path, data: { keybinding: 'x' }

.col-md-6.col-md-offset-3.font-about
  %h2 Hi there!
  %h2 First off: USE THE SHORTCUTS!
  %p You may or may not have noticed, that this site only works well when using shortcuts.
  %p You can use:
  %ul
    %li A for the next post
    %li D for the previous post
    %li Q for the next post in the same category
    %li E for the previous post in the same category
    %li S to get to the bottom section
    %li W to get back up to the image
    %li C to hide/show the navbar
    %li X to get back to the index page
  %p I mean, you can use your mouse too if that's your thing, but thats not what I made this page for.
  %p For the best Experience view it in Fullscreen (just press F11 for that if you are on Windows)
  %p I also recommend using Firefox or Chrome for using it, it doesn't really work on Internet Explorer. 
  %p I have no experience with Safari or other browsers, so if it doesn't look right. Sorry ¯\_(ツ)_/¯
  %br
  %p If you've come here to see who I am:
  %p I'm a 23 year old guy from Lucerne, Switzerland.
  %p For creating this site I used the Ruby on Rails framework.
  %p Since I don't have any professional background in webdesign and solely built this application out of interest, it may very well be full of stupid code and cringeworthy workarounds. (Yeah I had some problems)
  %p If you nonetheless like what you see - or hate it and want to punch me in the face - aaaand you want to reach out to me, you can do this on here: #
  %h6 (Of course you can also just leave a comment at any post and I'll probably see it.)
  %p If you want to have a look at the code you can do this on here: # (Just remember, this is me: #)
  %p Tips on improvement are always welcome, so let me know if you happen to have any.
  %h6 (For example how to get this &*@#! turbolinks to work!)
  %br
  %p Thanks for visiting!
  %br
  %p Chris
  %br
  %br
  #homebutton
    = link_to root_path do
      %span.glyphicon.glyphicon-home
  %br
  %br
  %br
  
