%nav.navbar
  .container.margin-top
    .logo= link_to "hiatus", root_path, data: { keybinding: 'x' }

.col-md-6.col-md-offset-3.font-about
  %br
  %br
  %br
  %h3 Have I posted something you made and you don't want that?
  %h3 Just write a comment below the post or send me an email with the post id (can be seen in the URL), and I'll delete it ASAP.
  %h2 This is my Mail: 
  %h1 christian.schuerch@hotmail.com
  %br
  %br
  %br
  %br
  %br
  %br
  #homebutton
    = link_to root_path do
      %span.glyphicon.glyphicon-home

