%nav.navbar
  .container.margin-top
    .logo= link_to "hiatus", root_path, data: { keybinding: 'x' }

.col-md-6.col-md-offset-3.font-about
  %br
  %br
  %br
  %h3 This blog claims no credit for any images posted on this site unless otherwhise noted. 
  %h4 (e.g. tagged with "Christian Schürch")
  %h3 Any images posted on here are copyright to its respectful owners and I try to add links to the sources whenever possible.
  %br
  %h3 If I have posted something that belongs to you, and you wish to have it removed, just write a comment below the post or send me an email with the post id (can be seen in the URL). 
  %h3 I will delete it as soon as possible.
  %br
  %h3 This is my Mail: 
  %h1 christian.schuerch@hotmail.com
  %br
  %br
  %br
  %br
  %br
  %br
  #homebutton
    = link_to root_path do
      %span.glyphicon.glyphicon-home

