%nav.navbar
  .container.margin-top
    .logo= link_to "minuit", root_path, data: { keybinding: 'x' }

.col-md-6.col-md-offset-3
  %br
  %br
  %br
  %h3 Have I posted something you made and you don't want that?
  %h3 Just send me a mail with the post id (can be seen in the URL), and I'll delete it ASAP.
  %h1 This is my Mail: #
  %h1 This is my Github: #
  %h1 This is my Facebook: #

.navbar-fixed-bottom
  .container#footer-about
    %span.glyphicon.glyphicon-tint