%nav.navbar
  .container.margin-top
    .logo= link_to "hiatus", root_path, data: { keybinding: 'x' }

.col-md-6.col-md-offset-3.font-about
  %h3 This website claims no credit for any images posted on this site unless otherwhise noted. 
  %h4 (e.g. tagged with "Christian Schürch")
  %h3 Any images posted on here are copyright to its respectful owners.
  %br
  %h3 If I have posted something that belongs to you, and you wish to have it removed, just send me an email with the post id (can be seen in the URL). 
  %h3 I will delete it as soon as possible.
  %br
  %h3 The reason I upload pictures on here is because I like them. I don't make any money from this site.
  %br
  %h3 This is my Mail: 
  %h1 christian.schuerch@hotmail.com
  %br
  %br
  %br
  %br
  %br
  %br
  #homebutton
    = link_to root_path do
      %span.glyphicon.glyphicon-home

