%nav.navbar
  .container.margin-top
    .logo= link_to "minuit", root_path, data: { keybinding: 'x' }

.col-md-6.col-md-offset-3
  %br
  %br
  %br
  %h1 You can reach me on here: #

.navbar-fixed-bottom
  .container#footer-about
    %p