%nav.navbar
  .container
    .logo= link_to "hiatus", root_path, data: { keybinding: 'x' }

.container
  #shortcuts= image_tag("Shortcuts.png")

.col-md-6.col-md-offset-3.font-about
  %br
  %p Some additional Advise:
  %br
  %p USE THOSE SHORTCUTS!
  %br
  %p For the best experience go in to Fullscreen Mode (just press F11 for that in most cases)
  %p I also recommend using Firefox or Chrome.
  %p I have no experience with Safari or other browsers, so if it doesn't look right. Sorry ¯\_(ツ)_/¯
  %p
  %p Oh and the red boxes may be invisible on the actual site, but you can still click them.
  %br
  %br
  %br
  #homebutton
    = link_to root_path do
      %span.glyphicon.glyphicon-home
  %br