#footer-about {
	text-align: center;
}

.font-about {
  font-size: 1.5em;
}

.glyphicon-tint {
  margin-bottom: 40px;
}

#homebutton {
  text-align: center;
  a {
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    &:hover {
      background-color: #444;
      color: #B3D5E5;
    }
  }
}