#accountbox {
  padding-top: 35px;
  height: 80px;
  width: 105px;
  top: 0px;
  right: 0px;
  position: absolute;
}

#profile {
  opacity: 0.6;
  float: left;
  img {
    margin-right: 10px;
    width: 30px;
  }
}

.categories {
  border-radius: 5px;
  width: 36vw;
  margin-left: 32vw;
  /*box-shadow: 0px 40px 10px -48px rgba(0,0,0,0.3);*/
  padding: 10px 0 10px 0;
  text-align: center;
  margin-bottom: 50px;
  background: #E9E9E9;
  img {
    display: inline-block;
    width: 70px;
    margin-right: 10px;
  }
}

.search {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -45px;
}

.searchbox {
  font-family: 'Lato';
  font-weight: 400;
  border-shadow: none;
  border: none;
  width: 26vw;
  line-height: 40px;
  font-size: 2em;
  text-align: center;
  background-color: #E9E9E9;
  &:hover {
    background-color: #f3f3f3;
  }
}


#tile_wrapper {
  border-radius: 10px;
  box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.2);
  width: 1000px;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5em;
  /*background-image: url("badtex.jpg");*/
  /*background-size: 50px;*/
  background-color: #f0f9ed;
}

/* _________________________________________ HEXAGONS _________________________________________ */

.tile {
  width: 200px;
  height: 227px;
  position: relative;
  display: inline-block;
}

.hexagon {
  position: absolute;
  width: 200px;
  height: 400px;
  top: -85px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  img {
    margin-top: 70px;
    margin-left: -10px;
  }
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

#tile_wrapper article {
  padding-top: 1em;
  width: 820px;
  margin: 0 auto;
}

.tile:nth-child(7n-2) {
  margin-left: 101px;
}

.tile:nth-child(n+5) {
  margin-top: -55px;
}

/* _________________________________________ RESPONSIVENESS _________________________________________ */

@media (max-width: 1015px) {
  #tile_wrapper {
    width: 100%;
  }
}

@media (max-width: 820px) {
  .tile:nth-child(5n-1) {
    margin-left: 102px;
  }
  .tile:nth-child(n+4) {
    margin-top: -62px;
  }
  .tile:nth-child(7n-2) {
    margin-left: 0px;
  }
  .tile:nth-child(n+5) {
    margin-top: -56px;
  }
  #tile_wrapper article {
    width: 610px;
  }
}

@media (max-width: 640px) {
  #tile_wrapper article {
    width: 405px;
  }
  .tile:nth-child(5n-1) {
    margin-left: 0px;
  }
  .tile:nth-child(3n) {
    margin-left: 102px;
  }
  .tile:nth-child(n+3) {
    margin-top: -56px;
  }
}

@media (max-width: 450px) {
  #tile_wrapper article {
    width: 300px;
  }
  .tile:nth-child(3n) {
    margin-left: 0px;
  }
  .tile:nth-child(2n) {
    margin-left: 102px;
  }
  .tile:nth-child(n+2) {
    margin-top: -56px;
  }
}

/* _________________________________________ FOOTER _________________________________________ */

#footer {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 120px;
  a {
    margin: 0 10px 0 10px;
    border-radius: 10px;
    padding: 1px 10px 3px 10px;
    color: #888;
    &:hover {
      box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.75);
      background-color: white;
      text-decoration: none;
    }
  }
}