/* _________________________________________ CONTROLS _________________________________________ */

#showpage-logo {
  opacity: 0.6;
}

#top-anchor {
  position: absolute;
  top: 0px;
}

.controls-left {
  padding-top: 20px;
  height: 60px;
  width: 25vw;
  top: 0px;
  left: 10px;
  position: absolute;
  svg {
    float: left;
    height: 30px;
    width: 50px;
  }
}

.controls-right {
  padding-top: 20px;
  height: 30px;
  width: 100px;
  top: 0px;
  right: 10px;
  position: absolute;
  svg {
    float: right;
    height: 30px;
    width: 50px;
  }
}

#new_post {
  opacity: 0.2;
  float: left;
  margin-top: -4%;
  margin-left: 30%;
  img {
    height: 30px;
  }
}

#edit_post {
  opacity: 0.2;
  float: right;
  margin-top: -3.8%;
  margin-right: 30%;
  img {
    height: 26px;
  }
}


/* _________________________________________ CONTENT _________________________________________ */

.image-wrapper {
  margin-top: 60px;
  margin-bottom: 65px;
  img {
    box-shadow:  5px 10px 31px -3px rgba(0,0,0,0.33);
    height: 88vmin;
    max-width: 90vw;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.image-details {
  border-bottom: 0px #424242 solid;
  padding: 0 5px 1px 3px;
  display: inline-block;
  margin-top: 4px;
  margin-right: 3px;
  font-size: 1.1em;
  color: #424242;
  margin-bottom: 5px;
  a {
    color: #424242;
    &:hover {
      color: #505050;
      text-decoration: none;
    }
  }
}


.textbox {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 50px 5%;
}

.tags {
  box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.75);
  border-bottom: 1px black solid;
  border-radius: 2em;
  padding: 0 10px 1px 10px;
  display: inline-block;
  margin-top: 3px;
  margin-right: 3px;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.glyphicon {
  padding: 0 5px 0 5px;
  top: 2px;
  font-family: 'Arimo';
}

.glyphicon-resize-full {
  top: 0;
}

.glyphicon-heart {
  &:hover {
    color: #c85a64;
  }
}

.glyphicon-ok {
  color: #BFBFBF;
  &:hover {
    color: #61B500;
  }
}

.description_wrapper {
  font-size: 1.3em;
  padding: 0 20px 20px 20px;
}

.comment_body {
  padding-left: 10px;
  margin: 10px 0 15px 0;
  font-family: 'Lato';
  font-size: 1.5em;
  display: inline-block;
  width: 100%;
}

.comment_detail {
  margin-right: 10px;
}

#comments {
  margin-bottom: 20px;
}

.submitbtn {
  width: 53px;
  height: 53px;
  border: none;
  font-size: 1.5em;
  float: right;
  background-color: transparent;
}

.form-control {
  resize: none;
}

#comment_body {
  margin-top: 20px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.2em;
  border: none;
  width: 100%;
}

#navfield_left {
  left: 0px;
  top: 60px;
  height: 100vh;
  width: 5vw;
  z-index: 999;
  position: fixed;
  background: transparent;
}

#navfield_right {
  right: 0px;
  top: 60px;
  height: 100vh;
  width: 5vw;
  z-index: 999;
  position: fixed;
  background: transparent;
}