/* _________________________________________ CONTROLS _________________________________________ */

html {
  #navfield_left, #navfield_right {
      opacity: 0;
  }
  &:hover {
    #navfield_left, #navfield_right {
      opacity: 1;
    }
  }
}

.navbar-default {
  opacity: 0;
  &:hover {
    opacity: 1;
    transition-duration: 500ms;
  }
}

#showpage-logo {
  opacity: 0.6;
}

#top-anchor {
  position: absolute;
  top: 0px;
}

.controls-left {
  padding-top: 20px;
  height: 60px;
  width: 25vw;
  top: 0px;
  left: 10px;
  position: absolute;
  svg {
    float: left;
    height: 30px;
    width: 50px;
  }
}

.controls-right {
  padding-top: 20px;
  height: 60px;
  width: 25vw;
  top: 0px;
  right: 10px;
  position: absolute;
  svg {
    float: right;
    height: 30px;
    width: 50px;
  }
}

.navicon {
  padding-top: 35vmin;
  svg {
    height: 50px;
  }
}


#keys {
  float: left;
  svg {
    width: 50px;
  }
}

/* _________________________________________ CONTENT _________________________________________ */

.image-wrapper {
  margin-top: 73px;
  margin-bottom: 73px;
  img {
    box-shadow:  5px 10px 31px -3px rgba(0,0,0,0.33);
    height: 86vmin;
    max-width: 90vw;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.image-details {
  border-bottom: 0px #424242 solid;
  padding: 0 5px 1px 3px;
  display: inline-block;
  margin-top: 4px;
  margin-right: 3px;
  font-size: 1.1em;
  color: #424242;
  margin-bottom: 5px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}


.textbox {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 50px 5%;
}

.tags {
  box-shadow: 2px 2px 2px -2px rgba(0,0,0,0.75);
  border-bottom: 1px black solid;
  border-radius: 2em;
  padding: 0 10px 1px 10px;
  display: inline-block;
  margin-top: 3px;
  margin-right: 3px;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.glyphicon {
  padding: 0 5px 0 5px;
  top: 2px;
  font-family: 'Arimo';
}

.glyphicon-resize-full {
  top: 0;
}

.description_wrapper {
  font-size: 1.3em;
  padding: 0 20px 20px 20px;
}

.comment_body {
  padding-left: 10px;
  margin: 10px 0 15px 0;
  font-family: 'Lato';
  font-size: 1.5em;
  display: inline-block;
  width: 100%;
}

.comment_detail {
  margin-right: 10px;
}

#comments {
  margin-bottom: 20px;
}

.submitbtn {
  width: 53px;
  height: 53px;
  border: none;
  font-size: 1.5em;
  float: right;
  background-color: transparent;
}

.form-control {
  resize: none;
}

#comment_body {
  margin-top: 20px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1.2em;
  border: none;
  width: 100%;
}

#navfield_left {
  padding: 0 20px 0 20px;
  left: 0px;
  top: 60px;
  height: 100vh;
  width: 5vw;
  z-index: 999;
  position: absolute;
}

#navfield_right {
  padding: 0 20px 0 20px;
  right: 0px;
  top: 60px;
  height: 100vh;
  width: 5vw;
  z-index: 999;
  position: absolute;
}

#navfield_center {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  height: 50vmin;
  width: 20vw;
  margin: -30vh 0 0 -10vw;
  cursor: zoom-in;
}